@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  @apply bg-[#020617] text-slate-200 overflow-hidden;
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700;
}

.prose pre {
  @apply bg-slate-900 border border-slate-800 rounded-xl;
}